/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track

API version: 5.7.0-alpha.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BomAPIService BomAPI service
type BomAPIService service

type BomAPIExportComponentAsCycloneDxRequest struct {
	ctx        context.Context
	ApiService *BomAPIService
	uuid       string
	format     *string
	version    *string
}

// The format to output (defaults to JSON)
func (r BomAPIExportComponentAsCycloneDxRequest) Format(format string) BomAPIExportComponentAsCycloneDxRequest {
	r.format = &format
	return r
}

// The CycloneDX Spec variant exported (defaults to: &#39;1.5&#39;)
func (r BomAPIExportComponentAsCycloneDxRequest) Version(version string) BomAPIExportComponentAsCycloneDxRequest {
	r.version = &version
	return r
}

func (r BomAPIExportComponentAsCycloneDxRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportComponentAsCycloneDxExecute(r)
}

/*
ExportComponentAsCycloneDx Returns dependency metadata for a specific component in CycloneDX format

<p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the component to export
	@return BomAPIExportComponentAsCycloneDxRequest
*/
func (a *BomAPIService) ExportComponentAsCycloneDx(ctx context.Context, uuid string) BomAPIExportComponentAsCycloneDxRequest {
	return BomAPIExportComponentAsCycloneDxRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *BomAPIService) ExportComponentAsCycloneDxExecute(r BomAPIExportComponentAsCycloneDxRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.ExportComponentAsCycloneDx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom/cyclonedx/component/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.cyclonedx+json", "application/vnd.cyclonedx+xml", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BomAPIExportProjectAsCycloneDxRequest struct {
	ctx        context.Context
	ApiService *BomAPIService
	uuid       string
	format     *string
	variant    *string
	download   *bool
	version    *string
}

// The format to output (defaults to JSON)
func (r BomAPIExportProjectAsCycloneDxRequest) Format(format string) BomAPIExportProjectAsCycloneDxRequest {
	r.format = &format
	return r
}

// Specifies the CycloneDX variant to export. Value options are &#39;inventory&#39; and &#39;withVulnerabilities&#39;. (defaults to &#39;inventory&#39;)
func (r BomAPIExportProjectAsCycloneDxRequest) Variant(variant string) BomAPIExportProjectAsCycloneDxRequest {
	r.variant = &variant
	return r
}

// Force the resulting BOM to be downloaded as a file (defaults to &#39;false&#39;)
func (r BomAPIExportProjectAsCycloneDxRequest) Download(download bool) BomAPIExportProjectAsCycloneDxRequest {
	r.download = &download
	return r
}

// The CycloneDX Spec variant exported (defaults to: &#39;1.5&#39;)
func (r BomAPIExportProjectAsCycloneDxRequest) Version(version string) BomAPIExportProjectAsCycloneDxRequest {
	r.version = &version
	return r
}

func (r BomAPIExportProjectAsCycloneDxRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportProjectAsCycloneDxExecute(r)
}

/*
ExportProjectAsCycloneDx Returns dependency metadata for a project in CycloneDX format

<p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>
<p>

	The <code>withVulnerabilities</code> and <code>vdr</code> variants
	further require any of the following permissions:
	<ul>
	  <li><strong>VIEW_VULNERABILITY</strong></li>
	  <li><strong>VULNERABILITY_ANALYSIS</strong></li>
	  <li><strong>VULNERABILITY_ANALYSIS_READ</strong></li>
	</ul>

</p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project to export
	@return BomAPIExportProjectAsCycloneDxRequest
*/
func (a *BomAPIService) ExportProjectAsCycloneDx(ctx context.Context, uuid string) BomAPIExportProjectAsCycloneDxRequest {
	return BomAPIExportProjectAsCycloneDxRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *BomAPIService) ExportProjectAsCycloneDxExecute(r BomAPIExportProjectAsCycloneDxRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.ExportProjectAsCycloneDx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom/cyclonedx/project/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.variant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "variant", r.variant, "form", "")
	}
	if r.download != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "download", r.download, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/vnd.cyclonedx+json", "application/vnd.cyclonedx+xml", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BomAPIUploadBomRequest struct {
	ctx            context.Context
	ApiService     *BomAPIService
	autoCreate     *bool
	bom            *string
	isLatest       *bool
	parentName     *string
	parentUUID     *string
	parentVersion  *string
	project        *string
	projectName    *string
	projectTags    *string
	projectVersion *string
}

func (r BomAPIUploadBomRequest) AutoCreate(autoCreate bool) BomAPIUploadBomRequest {
	r.autoCreate = &autoCreate
	return r
}

func (r BomAPIUploadBomRequest) Bom(bom string) BomAPIUploadBomRequest {
	r.bom = &bom
	return r
}

func (r BomAPIUploadBomRequest) IsLatest(isLatest bool) BomAPIUploadBomRequest {
	r.isLatest = &isLatest
	return r
}

func (r BomAPIUploadBomRequest) ParentName(parentName string) BomAPIUploadBomRequest {
	r.parentName = &parentName
	return r
}

func (r BomAPIUploadBomRequest) ParentUUID(parentUUID string) BomAPIUploadBomRequest {
	r.parentUUID = &parentUUID
	return r
}

func (r BomAPIUploadBomRequest) ParentVersion(parentVersion string) BomAPIUploadBomRequest {
	r.parentVersion = &parentVersion
	return r
}

func (r BomAPIUploadBomRequest) Project(project string) BomAPIUploadBomRequest {
	r.project = &project
	return r
}

func (r BomAPIUploadBomRequest) ProjectName(projectName string) BomAPIUploadBomRequest {
	r.projectName = &projectName
	return r
}

func (r BomAPIUploadBomRequest) ProjectTags(projectTags string) BomAPIUploadBomRequest {
	r.projectTags = &projectTags
	return r
}

func (r BomAPIUploadBomRequest) ProjectVersion(projectVersion string) BomAPIUploadBomRequest {
	r.projectVersion = &projectVersion
	return r
}

func (r BomAPIUploadBomRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.UploadBomExecute(r)
}

/*
UploadBom Upload a supported bill of material format document

<p>

	Expects CycloneDX and a valid project UUID. If a UUID is not specified,
	then the <code>projectName</code> and <code>projectVersion</code> must be specified.
	Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,
	the project will be created. In this scenario, the principal making the request will
	additionally need the <strong>PORTFOLIO_MANAGEMENT</strong>, <strong>PORTFOLIO_MANAGEMENT_CREATE</strong>,
	or <strong>PROJECT_CREATION_UPLOAD</strong> permission.

</p>
<p>

	MediaType supported for BOM artifact is 'application/xml', 'application/json' or 'application/x.vnd.cyclonedx+protobuf'.
	The BOM will be validated against the CycloneDX schema. If schema validation fails,
	a response with problem details in RFC 9457 format will be returned. In this case,
	the response's content type will be <code>application/problem+json</code>.

</p>
<p>Requires permission <strong>BOM_UPLOAD</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BomAPIUploadBomRequest
*/
func (a *BomAPIService) UploadBom(ctx context.Context) BomAPIUploadBomRequest {
	return BomAPIUploadBomRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *BomAPIService) UploadBomExecute(r BomAPIUploadBomRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.UploadBom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.autoCreate != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "autoCreate", r.autoCreate, "", "")
	}
	if r.bom != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "bom", r.bom, "", "")
	}
	if r.isLatest != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "isLatest", r.isLatest, "", "")
	}
	if r.parentName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentName", r.parentName, "", "")
	}
	if r.parentUUID != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentUUID", r.parentUUID, "", "")
	}
	if r.parentVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentVersion", r.parentVersion, "", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "project", r.project, "", "")
	}
	if r.projectName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectName", r.projectName, "", "")
	}
	if r.projectTags != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectTags", r.projectTags, "", "")
	}
	if r.projectVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectVersion", r.projectVersion, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BomAPIUploadBomBase64EncodedRequest struct {
	ctx              context.Context
	ApiService       *BomAPIService
	bomSubmitRequest *BomSubmitRequest
}

func (r BomAPIUploadBomBase64EncodedRequest) BomSubmitRequest(bomSubmitRequest BomSubmitRequest) BomAPIUploadBomBase64EncodedRequest {
	r.bomSubmitRequest = &bomSubmitRequest
	return r
}

func (r BomAPIUploadBomBase64EncodedRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.UploadBomBase64EncodedExecute(r)
}

/*
UploadBomBase64Encoded Upload a supported bill of material format document

<p>

	Expects CycloneDX and a valid project UUID. If a UUID is not specified,
	then the <code>projectName</code> and <code>projectVersion</code> must be specified.
	Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,
	the project will be created. In this scenario, the principal making the request will
	additionally need the <strong>PORTFOLIO_MANAGEMENT</strong>, <strong>PORTFOLIO_MANAGEMENT_CREATE</strong>,
	or <strong>PROJECT_CREATION_UPLOAD</strong> permission.

</p>
<p>

	The BOM will be validated against the CycloneDX schema. If schema validation fails,
	a response with problem details in RFC 9457 format will be returned. In this case,
	the response's content type will be <code>application/problem+json</code>.

</p>
<p>

	The maximum allowed length of the <code>bom</code> value is 20'000'000 characters.
	When uploading large BOMs, the <code>POST</code> endpoint is preferred,
	as it does not have this limit.

</p>
<p>Requires permission <strong>BOM_UPLOAD</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BomAPIUploadBomBase64EncodedRequest
*/
func (a *BomAPIService) UploadBomBase64Encoded(ctx context.Context) BomAPIUploadBomBase64EncodedRequest {
	return BomAPIUploadBomBase64EncodedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *BomAPIService) UploadBomBase64EncodedExecute(r BomAPIUploadBomBase64EncodedRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.UploadBomBase64Encoded")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bomSubmitRequest == nil {
		return localVarReturnValue, nil, reportError("bomSubmitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bomSubmitRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
