/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track  > **Note:** This API version is in maintenance mode and will be > superseded by v2, available under `/api/v2`, which follows a > spec-first approach. New operations will be added there. > > This specification is generated and may not always accurately > reflect the actual response content of every operation. When > in doubt, treat observed runtime behavior as authoritative.  ## Authentication  Two credential types are accepted:  - **API key** via the `X-Api-Key` request header. API keys are   long-lived and intended for machine-to-machine integrations. - **Bearer token** via the `Authorization: Bearer <token>` request   header. Bearer tokens are short-lived, user-bound, and opaque   server-issued session tokens.  Bearer tokens are obtained from one of the following endpoints:  - `POST /api/v1/user/login` - `POST /api/v1/user/oidc/login`  Tokens are valid for 8 hours by default and **cannot be refreshed**. Clients must re-authenticate once a token expires.  Requests with missing or invalid credentials are rejected with `401 Unauthorized`.  ## Authorization  Access is gated by named permissions. Operations document the permission(s) they require; operations without a documented permission requirement only require authentication.  When the *Portfolio Access Control* feature is enabled (disabled by default), project-scoped operations additionally enforce per-project access via team membership. The `PORTFOLIO_ACCESS_CONTROL_BYPASS` permission grants access to all projects regardless of team mappings. When the feature is disabled, all authenticated callers holding the required permission can access all projects.  Authenticated requests that lack the required permission, or that target a project the caller cannot access, are rejected with `403 Forbidden`.  ## Pagination  Collection endpoints support page-based pagination via the following query parameters:  | Parameter    | Description                              | Default | |--------------|------------------------------------------|---------| | `pageNumber` | The page to retrieve (1-based).          | `1`     | | `pageSize`   | The maximum number of items per page.    | `100`   |  The total number of items in the collection across all pages is returned in the `X-Total-Count` response header.  ## HTTP Methods  | Method   | Semantics                                | |----------|------------------------------------------| | `GET`    | Retrieve a resource.                     | | `PUT`    | **Create** a new resource.               | | `POST`   | **Update** an existing resource.         | | `DELETE` | Delete a resource.                       |  Note that the use of `PUT` for create and `POST` for update is the inverse of the convention followed by most other REST APIs, including API v2.  ## Response Conventions  Create (`PUT`) and update (`POST`) operations typically return the full resource representation in the response body, with status `201 Created` and `200 OK` respectively.  Delete (`DELETE`) operations typically return `204 No Content`.  ## Deprecations  Operations may be removed or replaced over time. When a response carries the `X-API-Deprecated: true` header, the operation that produced it is deprecated and may be removed in a future release. Clients should check for this header on every response and surface it (e.g. via a log warning) so that operators are aware of upcoming breakages. The respective operation's description points out which alternative operation(s) to use.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FindingAPIService FindingAPI service
type FindingAPIService service

type ApiAnalyzeProjectRequest struct {
	ctx        context.Context
	ApiService *FindingAPIService
	uuid       string
}

func (r ApiAnalyzeProjectRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.AnalyzeProjectExecute(r)
}

/*
AnalyzeProject Triggers Vulnerability Analysis on a specific project

<p>Requires permission <strong>VULNERABILITY_ANALYSIS</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project to analyze
	@return ApiAnalyzeProjectRequest
*/
func (a *FindingAPIService) AnalyzeProject(ctx context.Context, uuid string) ApiAnalyzeProjectRequest {
	return ApiAnalyzeProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *FindingAPIService) AnalyzeProjectExecute(r ApiAnalyzeProjectRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.AnalyzeProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}/analyze"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportFindingsByProjectRequest struct {
	ctx        context.Context
	ApiService *FindingAPIService
	uuid       string
}

func (r ApiExportFindingsByProjectRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportFindingsByProjectExecute(r)
}

/*
ExportFindingsByProject Returns the findings for the specified project as FPF

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project
	@return ApiExportFindingsByProjectRequest
*/
func (a *FindingAPIService) ExportFindingsByProject(ctx context.Context, uuid string) ApiExportFindingsByProjectRequest {
	return ApiExportFindingsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *FindingAPIService) ExportFindingsByProjectExecute(r ApiExportFindingsByProjectRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.ExportFindingsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}/export"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllFindingsRequest struct {
	ctx                context.Context
	ApiService         *FindingAPIService
	pageNumber         *string
	pageSize           *string
	offset             *string
	limit              *string
	sortName           *string
	sortOrder          *string
	showInactive       *bool
	severity           *string
	publishDateFrom    *string
	publishDateTo      *string
	textSearchField    *string
	textSearchInput    *string
	cvssv2From         *string
	cvssv2To           *string
	cvssv3From         *string
	cvssv3To           *string
	cvssv4From         *string
	cvssv4To           *string
	epssFrom           *string
	epssTo             *string
	epssPercentileFrom *string
	epssPercentileTo   *string
	occurrencesFrom    *string
	occurrencesTo      *string
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ApiGetAllFindingsRequest) PageNumber(pageNumber string) ApiGetAllFindingsRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ApiGetAllFindingsRequest) PageSize(pageSize string) ApiGetAllFindingsRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ApiGetAllFindingsRequest) Offset(offset string) ApiGetAllFindingsRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ApiGetAllFindingsRequest) Limit(limit string) ApiGetAllFindingsRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ApiGetAllFindingsRequest) SortName(sortName string) ApiGetAllFindingsRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ApiGetAllFindingsRequest) SortOrder(sortOrder string) ApiGetAllFindingsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Show inactive projects
func (r ApiGetAllFindingsRequest) ShowInactive(showInactive bool) ApiGetAllFindingsRequest {
	r.showInactive = &showInactive
	return r
}

// Filter by severity
func (r ApiGetAllFindingsRequest) Severity(severity string) ApiGetAllFindingsRequest {
	r.severity = &severity
	return r
}

// Filter published from this date
func (r ApiGetAllFindingsRequest) PublishDateFrom(publishDateFrom string) ApiGetAllFindingsRequest {
	r.publishDateFrom = &publishDateFrom
	return r
}

// Filter published to this date
func (r ApiGetAllFindingsRequest) PublishDateTo(publishDateTo string) ApiGetAllFindingsRequest {
	r.publishDateTo = &publishDateTo
	return r
}

// Filter the text input in these fields
func (r ApiGetAllFindingsRequest) TextSearchField(textSearchField string) ApiGetAllFindingsRequest {
	r.textSearchField = &textSearchField
	return r
}

// Filter by this text input
func (r ApiGetAllFindingsRequest) TextSearchInput(textSearchInput string) ApiGetAllFindingsRequest {
	r.textSearchInput = &textSearchInput
	return r
}

// Filter CVSSv2 from this value
func (r ApiGetAllFindingsRequest) Cvssv2From(cvssv2From string) ApiGetAllFindingsRequest {
	r.cvssv2From = &cvssv2From
	return r
}

// Filter CVSSv2 to this value
func (r ApiGetAllFindingsRequest) Cvssv2To(cvssv2To string) ApiGetAllFindingsRequest {
	r.cvssv2To = &cvssv2To
	return r
}

// Filter CVSSv3 from this value
func (r ApiGetAllFindingsRequest) Cvssv3From(cvssv3From string) ApiGetAllFindingsRequest {
	r.cvssv3From = &cvssv3From
	return r
}

// Filter CVSSv3 to this value
func (r ApiGetAllFindingsRequest) Cvssv3To(cvssv3To string) ApiGetAllFindingsRequest {
	r.cvssv3To = &cvssv3To
	return r
}

// Filter CVSSv4 from this value
func (r ApiGetAllFindingsRequest) Cvssv4From(cvssv4From string) ApiGetAllFindingsRequest {
	r.cvssv4From = &cvssv4From
	return r
}

// Filter CVSSv4 to this value
func (r ApiGetAllFindingsRequest) Cvssv4To(cvssv4To string) ApiGetAllFindingsRequest {
	r.cvssv4To = &cvssv4To
	return r
}

// Filter EPSS from this value
func (r ApiGetAllFindingsRequest) EpssFrom(epssFrom string) ApiGetAllFindingsRequest {
	r.epssFrom = &epssFrom
	return r
}

// Filter EPSS to this value
func (r ApiGetAllFindingsRequest) EpssTo(epssTo string) ApiGetAllFindingsRequest {
	r.epssTo = &epssTo
	return r
}

// Filter EPSS Percentile from this value
func (r ApiGetAllFindingsRequest) EpssPercentileFrom(epssPercentileFrom string) ApiGetAllFindingsRequest {
	r.epssPercentileFrom = &epssPercentileFrom
	return r
}

// Filter EPSS Percentile to this value
func (r ApiGetAllFindingsRequest) EpssPercentileTo(epssPercentileTo string) ApiGetAllFindingsRequest {
	r.epssPercentileTo = &epssPercentileTo
	return r
}

// Filter occurrences in projects from this value
func (r ApiGetAllFindingsRequest) OccurrencesFrom(occurrencesFrom string) ApiGetAllFindingsRequest {
	r.occurrencesFrom = &occurrencesFrom
	return r
}

// Filter occurrences in projects to this value
func (r ApiGetAllFindingsRequest) OccurrencesTo(occurrencesTo string) ApiGetAllFindingsRequest {
	r.occurrencesTo = &occurrencesTo
	return r
}

func (r ApiGetAllFindingsRequest) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetAllFindingsExecute(r)
}

/*
GetAllFindings Returns a list of all findings grouped by vulnerability

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllFindingsRequest
*/
func (a *FindingAPIService) GetAllFindings(ctx context.Context) ApiGetAllFindingsRequest {
	return ApiGetAllFindingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetAllFindingsExecute(r ApiGetAllFindingsRequest) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetAllFindings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/grouped"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.showInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showInactive", r.showInactive, "form", "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "")
	}
	if r.publishDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateFrom", r.publishDateFrom, "form", "")
	}
	if r.publishDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateTo", r.publishDateTo, "form", "")
	}
	if r.textSearchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchField", r.textSearchField, "form", "")
	}
	if r.textSearchInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchInput", r.textSearchInput, "form", "")
	}
	if r.cvssv2From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2From", r.cvssv2From, "form", "")
	}
	if r.cvssv2To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2To", r.cvssv2To, "form", "")
	}
	if r.cvssv3From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3From", r.cvssv3From, "form", "")
	}
	if r.cvssv3To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3To", r.cvssv3To, "form", "")
	}
	if r.cvssv4From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv4From", r.cvssv4From, "form", "")
	}
	if r.cvssv4To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv4To", r.cvssv4To, "form", "")
	}
	if r.epssFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssFrom", r.epssFrom, "form", "")
	}
	if r.epssTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssTo", r.epssTo, "form", "")
	}
	if r.epssPercentileFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileFrom", r.epssPercentileFrom, "form", "")
	}
	if r.epssPercentileTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileTo", r.epssPercentileTo, "form", "")
	}
	if r.occurrencesFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurrencesFrom", r.occurrencesFrom, "form", "")
	}
	if r.occurrencesTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurrencesTo", r.occurrencesTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllFindings1Request struct {
	ctx                  context.Context
	ApiService           *FindingAPIService
	pageNumber           *string
	pageSize             *string
	offset               *string
	limit                *string
	sortName             *string
	sortOrder            *string
	showInactive         *bool
	showSuppressed       *bool
	severity             *string
	analysisStatus       *string
	vendorResponse       *string
	publishDateFrom      *string
	publishDateTo        *string
	attributedOnDateFrom *string
	attributedOnDateTo   *string
	textSearchField      *string
	textSearchInput      *string
	cvssv2From           *string
	cvssv2To             *string
	cvssv3From           *string
	cvssv3To             *string
	cvssv4From           *string
	cvssv4To             *string
	epssFrom             *string
	epssTo               *string
	epssPercentileFrom   *string
	epssPercentileTo     *string
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ApiGetAllFindings1Request) PageNumber(pageNumber string) ApiGetAllFindings1Request {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ApiGetAllFindings1Request) PageSize(pageSize string) ApiGetAllFindings1Request {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ApiGetAllFindings1Request) Offset(offset string) ApiGetAllFindings1Request {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ApiGetAllFindings1Request) Limit(limit string) ApiGetAllFindings1Request {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ApiGetAllFindings1Request) SortName(sortName string) ApiGetAllFindings1Request {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ApiGetAllFindings1Request) SortOrder(sortOrder string) ApiGetAllFindings1Request {
	r.sortOrder = &sortOrder
	return r
}

// Show inactive projects
func (r ApiGetAllFindings1Request) ShowInactive(showInactive bool) ApiGetAllFindings1Request {
	r.showInactive = &showInactive
	return r
}

// Show suppressed findings
func (r ApiGetAllFindings1Request) ShowSuppressed(showSuppressed bool) ApiGetAllFindings1Request {
	r.showSuppressed = &showSuppressed
	return r
}

// Filter by severity
func (r ApiGetAllFindings1Request) Severity(severity string) ApiGetAllFindings1Request {
	r.severity = &severity
	return r
}

// Filter by analysis status
func (r ApiGetAllFindings1Request) AnalysisStatus(analysisStatus string) ApiGetAllFindings1Request {
	r.analysisStatus = &analysisStatus
	return r
}

// Filter by vendor response
func (r ApiGetAllFindings1Request) VendorResponse(vendorResponse string) ApiGetAllFindings1Request {
	r.vendorResponse = &vendorResponse
	return r
}

// Filter published from this date
func (r ApiGetAllFindings1Request) PublishDateFrom(publishDateFrom string) ApiGetAllFindings1Request {
	r.publishDateFrom = &publishDateFrom
	return r
}

// Filter published to this date
func (r ApiGetAllFindings1Request) PublishDateTo(publishDateTo string) ApiGetAllFindings1Request {
	r.publishDateTo = &publishDateTo
	return r
}

// Filter attributed on from this date
func (r ApiGetAllFindings1Request) AttributedOnDateFrom(attributedOnDateFrom string) ApiGetAllFindings1Request {
	r.attributedOnDateFrom = &attributedOnDateFrom
	return r
}

// Filter attributed on to this date
func (r ApiGetAllFindings1Request) AttributedOnDateTo(attributedOnDateTo string) ApiGetAllFindings1Request {
	r.attributedOnDateTo = &attributedOnDateTo
	return r
}

// Filter the text input in these fields
func (r ApiGetAllFindings1Request) TextSearchField(textSearchField string) ApiGetAllFindings1Request {
	r.textSearchField = &textSearchField
	return r
}

// Filter by this text input
func (r ApiGetAllFindings1Request) TextSearchInput(textSearchInput string) ApiGetAllFindings1Request {
	r.textSearchInput = &textSearchInput
	return r
}

// Filter CVSSv2 from this value
func (r ApiGetAllFindings1Request) Cvssv2From(cvssv2From string) ApiGetAllFindings1Request {
	r.cvssv2From = &cvssv2From
	return r
}

// Filter CVSSv2 from this Value
func (r ApiGetAllFindings1Request) Cvssv2To(cvssv2To string) ApiGetAllFindings1Request {
	r.cvssv2To = &cvssv2To
	return r
}

// Filter CVSSv3 from this value
func (r ApiGetAllFindings1Request) Cvssv3From(cvssv3From string) ApiGetAllFindings1Request {
	r.cvssv3From = &cvssv3From
	return r
}

// Filter CVSSv3 from this Value
func (r ApiGetAllFindings1Request) Cvssv3To(cvssv3To string) ApiGetAllFindings1Request {
	r.cvssv3To = &cvssv3To
	return r
}

// Filter CVSSv4 from this value
func (r ApiGetAllFindings1Request) Cvssv4From(cvssv4From string) ApiGetAllFindings1Request {
	r.cvssv4From = &cvssv4From
	return r
}

// Filter CVSSv4 to this value
func (r ApiGetAllFindings1Request) Cvssv4To(cvssv4To string) ApiGetAllFindings1Request {
	r.cvssv4To = &cvssv4To
	return r
}

// Filter EPSS from this value
func (r ApiGetAllFindings1Request) EpssFrom(epssFrom string) ApiGetAllFindings1Request {
	r.epssFrom = &epssFrom
	return r
}

// Filter EPSS to this value
func (r ApiGetAllFindings1Request) EpssTo(epssTo string) ApiGetAllFindings1Request {
	r.epssTo = &epssTo
	return r
}

// Filter EPSS Percentile from this value
func (r ApiGetAllFindings1Request) EpssPercentileFrom(epssPercentileFrom string) ApiGetAllFindings1Request {
	r.epssPercentileFrom = &epssPercentileFrom
	return r
}

// Filter EPSS Percentile to this value
func (r ApiGetAllFindings1Request) EpssPercentileTo(epssPercentileTo string) ApiGetAllFindings1Request {
	r.epssPercentileTo = &epssPercentileTo
	return r
}

func (r ApiGetAllFindings1Request) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetAllFindings1Execute(r)
}

/*
GetAllFindings1 Returns a list of all findings

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllFindings1Request
*/
func (a *FindingAPIService) GetAllFindings1(ctx context.Context) ApiGetAllFindings1Request {
	return ApiGetAllFindings1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetAllFindings1Execute(r ApiGetAllFindings1Request) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetAllFindings1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.showInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showInactive", r.showInactive, "form", "")
	}
	if r.showSuppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showSuppressed", r.showSuppressed, "form", "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "")
	}
	if r.analysisStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysisStatus", r.analysisStatus, "form", "")
	}
	if r.vendorResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vendorResponse", r.vendorResponse, "form", "")
	}
	if r.publishDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateFrom", r.publishDateFrom, "form", "")
	}
	if r.publishDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateTo", r.publishDateTo, "form", "")
	}
	if r.attributedOnDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributedOnDateFrom", r.attributedOnDateFrom, "form", "")
	}
	if r.attributedOnDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributedOnDateTo", r.attributedOnDateTo, "form", "")
	}
	if r.textSearchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchField", r.textSearchField, "form", "")
	}
	if r.textSearchInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchInput", r.textSearchInput, "form", "")
	}
	if r.cvssv2From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2From", r.cvssv2From, "form", "")
	}
	if r.cvssv2To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2To", r.cvssv2To, "form", "")
	}
	if r.cvssv3From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3From", r.cvssv3From, "form", "")
	}
	if r.cvssv3To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3To", r.cvssv3To, "form", "")
	}
	if r.cvssv4From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv4From", r.cvssv4From, "form", "")
	}
	if r.cvssv4To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv4To", r.cvssv4To, "form", "")
	}
	if r.epssFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssFrom", r.epssFrom, "form", "")
	}
	if r.epssTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssTo", r.epssTo, "form", "")
	}
	if r.epssPercentileFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileFrom", r.epssPercentileFrom, "form", "")
	}
	if r.epssPercentileTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileTo", r.epssPercentileTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFindingsByProjectRequest struct {
	ctx         context.Context
	ApiService  *FindingAPIService
	uuid        string
	searchText  *string
	pageNumber  *string
	pageSize    *string
	offset      *string
	limit       *string
	sortName    *string
	sortOrder   *string
	suppressed  *bool
	source      *string
	accept      *string
	hasAnalysis *bool
	epssFrom    *float32
	epssTo      *float32
}

// Case-insensitive substring filter matched against component name, component group, and vulnerability ID. Additionally matched as an exact value against component UUID, vulnerability UUID, and the &#x60;componentUuid:vulnerabilityUuid&#x60; pair.
func (r ApiGetFindingsByProjectRequest) SearchText(searchText string) ApiGetFindingsByProjectRequest {
	r.searchText = &searchText
	return r
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ApiGetFindingsByProjectRequest) PageNumber(pageNumber string) ApiGetFindingsByProjectRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ApiGetFindingsByProjectRequest) PageSize(pageSize string) ApiGetFindingsByProjectRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ApiGetFindingsByProjectRequest) Offset(offset string) ApiGetFindingsByProjectRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ApiGetFindingsByProjectRequest) Limit(limit string) ApiGetFindingsByProjectRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ApiGetFindingsByProjectRequest) SortName(sortName string) ApiGetFindingsByProjectRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ApiGetFindingsByProjectRequest) SortOrder(sortOrder string) ApiGetFindingsByProjectRequest {
	r.sortOrder = &sortOrder
	return r
}

// Optionally includes suppressed findings
func (r ApiGetFindingsByProjectRequest) Suppressed(suppressed bool) ApiGetFindingsByProjectRequest {
	r.suppressed = &suppressed
	return r
}

// Optionally limit findings to specific sources of vulnerability intelligence
func (r ApiGetFindingsByProjectRequest) Source(source string) ApiGetFindingsByProjectRequest {
	r.source = &source
	return r
}

func (r ApiGetFindingsByProjectRequest) Accept(accept string) ApiGetFindingsByProjectRequest {
	r.accept = &accept
	return r
}

// Whether to include only projects with existing analysis.
func (r ApiGetFindingsByProjectRequest) HasAnalysis(hasAnalysis bool) ApiGetFindingsByProjectRequest {
	r.hasAnalysis = &hasAnalysis
	return r
}

// Filter EPSS score from this value (inclusive)
func (r ApiGetFindingsByProjectRequest) EpssFrom(epssFrom float32) ApiGetFindingsByProjectRequest {
	r.epssFrom = &epssFrom
	return r
}

// Filter EPSS score to this value (inclusive)
func (r ApiGetFindingsByProjectRequest) EpssTo(epssTo float32) ApiGetFindingsByProjectRequest {
	r.epssTo = &epssTo
	return r
}

func (r ApiGetFindingsByProjectRequest) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetFindingsByProjectExecute(r)
}

/*
GetFindingsByProject Returns a list of all findings for a specific project or generates SARIF file if Accept: application/sarif+json header is provided

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project
	@return ApiGetFindingsByProjectRequest
*/
func (a *FindingAPIService) GetFindingsByProject(ctx context.Context, uuid string) ApiGetFindingsByProjectRequest {
	return ApiGetFindingsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetFindingsByProjectExecute(r ApiGetFindingsByProjectRequest) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetFindingsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.searchText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchText", r.searchText, "form", "")
	}
	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.hasAnalysis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasAnalysis", r.hasAnalysis, "form", "")
	}
	if r.epssFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssFrom", r.epssFrom, "form", "")
	}
	if r.epssTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssTo", r.epssTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/sarif+json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "accept", r.accept, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
