/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track  > **Note:** This API version is in maintenance mode and will be > superseded by v2, available under `/api/v2`, which follows a > spec-first approach. New operations will be added there. > > This specification is generated and may not always accurately > reflect the actual response content of every operation. When > in doubt, treat observed runtime behavior as authoritative.  ## Authentication  Two credential types are accepted:  - **API key** via the `X-Api-Key` request header. API keys are   long-lived and intended for machine-to-machine integrations. - **Bearer token** via the `Authorization: Bearer <token>` request   header. Bearer tokens are short-lived, user-bound, and opaque   server-issued session tokens.  Bearer tokens are obtained from one of the following endpoints:  - `POST /api/v1/user/login` - `POST /api/v1/user/oidc/login`  Tokens are valid for 8 hours by default and **cannot be refreshed**. Clients must re-authenticate once a token expires.  Requests with missing or invalid credentials are rejected with `401 Unauthorized`.  ## Authorization  Access is gated by named permissions. Operations document the permission(s) they require; operations without a documented permission requirement only require authentication.  When the *Portfolio Access Control* feature is enabled (disabled by default), project-scoped operations additionally enforce per-project access via team membership. The `PORTFOLIO_ACCESS_CONTROL_BYPASS` permission grants access to all projects regardless of team mappings. When the feature is disabled, all authenticated callers holding the required permission can access all projects.  Authenticated requests that lack the required permission, or that target a project the caller cannot access, are rejected with `403 Forbidden`.  ## Pagination  Collection endpoints support page-based pagination via the following query parameters:  | Parameter    | Description                              | Default | |--------------|------------------------------------------|---------| | `pageNumber` | The page to retrieve (1-based).          | `1`     | | `pageSize`   | The maximum number of items per page.    | `100`   |  The total number of items in the collection across all pages is returned in the `X-Total-Count` response header.  ## HTTP Methods  | Method   | Semantics                                | |----------|------------------------------------------| | `GET`    | Retrieve a resource.                     | | `PUT`    | **Create** a new resource.               | | `POST`   | **Update** an existing resource.         | | `DELETE` | Delete a resource.                       |  Note that the use of `PUT` for create and `POST` for update is the inverse of the convention followed by most other REST APIs, including API v2.  ## Response Conventions  Create (`PUT`) and update (`POST`) operations typically return the full resource representation in the response body, with status `201 Created` and `200 OK` respectively.  Delete (`DELETE`) operations typically return `204 No Content`.  ## Deprecations  Operations may be removed or replaced over time. When a response carries the `X-API-Deprecated: true` header, the operation that produced it is deprecated and may be removed in a future release. Clients should check for this header on every response and surface it (e.g. via a log warning) so that operators are aware of upcoming breakages. The respective operation's description points out which alternative operation(s) to use.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// BomAPIService BomAPI service
type BomAPIService service

type ApiExportComponentAsCycloneDxRequest struct {
	ctx        context.Context
	ApiService *BomAPIService
	uuid       string
	format     *string
	version    *string
}

// The format to output (defaults to JSON)
func (r ApiExportComponentAsCycloneDxRequest) Format(format string) ApiExportComponentAsCycloneDxRequest {
	r.format = &format
	return r
}

// The CycloneDX Spec variant exported (defaults to: &#39;1.5&#39;)
func (r ApiExportComponentAsCycloneDxRequest) Version(version string) ApiExportComponentAsCycloneDxRequest {
	r.version = &version
	return r
}

func (r ApiExportComponentAsCycloneDxRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportComponentAsCycloneDxExecute(r)
}

/*
ExportComponentAsCycloneDx Returns dependency metadata for a specific component in CycloneDX format

<p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the component to export
	@return ApiExportComponentAsCycloneDxRequest
*/
func (a *BomAPIService) ExportComponentAsCycloneDx(ctx context.Context, uuid string) ApiExportComponentAsCycloneDxRequest {
	return ApiExportComponentAsCycloneDxRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *BomAPIService) ExportComponentAsCycloneDxExecute(r ApiExportComponentAsCycloneDxRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.ExportComponentAsCycloneDx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom/cyclonedx/component/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.cyclonedx+json", "application/vnd.cyclonedx+xml", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportProjectAsCycloneDxRequest struct {
	ctx        context.Context
	ApiService *BomAPIService
	uuid       string
	format     *string
	variant    *string
	download   *bool
	version    *string
}

// The format to output (defaults to JSON)
func (r ApiExportProjectAsCycloneDxRequest) Format(format string) ApiExportProjectAsCycloneDxRequest {
	r.format = &format
	return r
}

// Specifies the CycloneDX variant to export. Value options are &#39;inventory&#39; and &#39;withVulnerabilities&#39;. (defaults to &#39;inventory&#39;)
func (r ApiExportProjectAsCycloneDxRequest) Variant(variant string) ApiExportProjectAsCycloneDxRequest {
	r.variant = &variant
	return r
}

// Force the resulting BOM to be downloaded as a file (defaults to &#39;false&#39;)
func (r ApiExportProjectAsCycloneDxRequest) Download(download bool) ApiExportProjectAsCycloneDxRequest {
	r.download = &download
	return r
}

// The CycloneDX Spec variant exported (defaults to: &#39;1.5&#39;)
func (r ApiExportProjectAsCycloneDxRequest) Version(version string) ApiExportProjectAsCycloneDxRequest {
	r.version = &version
	return r
}

func (r ApiExportProjectAsCycloneDxRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportProjectAsCycloneDxExecute(r)
}

/*
ExportProjectAsCycloneDx Returns dependency metadata for a project in CycloneDX format

<p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>
<p>

	The <code>withVulnerabilities</code> and <code>vdr</code> variants
	further require any of the following permissions:
	<ul>
	  <li><strong>VIEW_VULNERABILITY</strong></li>
	  <li><strong>VULNERABILITY_ANALYSIS</strong></li>
	  <li><strong>VULNERABILITY_ANALYSIS_READ</strong></li>
	</ul>

</p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project to export
	@return ApiExportProjectAsCycloneDxRequest
*/
func (a *BomAPIService) ExportProjectAsCycloneDx(ctx context.Context, uuid string) ApiExportProjectAsCycloneDxRequest {
	return ApiExportProjectAsCycloneDxRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *BomAPIService) ExportProjectAsCycloneDxExecute(r ApiExportProjectAsCycloneDxRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.ExportProjectAsCycloneDx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom/cyclonedx/project/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	}
	if r.variant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "variant", r.variant, "form", "")
	}
	if r.download != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "download", r.download, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/vnd.cyclonedx+json", "application/vnd.cyclonedx+xml", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIsTokenBeingProcessedRequest struct {
	ctx        context.Context
	ApiService *BomAPIService
	uuid       string
}

func (r ApiIsTokenBeingProcessedRequest) Execute() (*IsTokenBeingProcessedResponse, *http.Response, error) {
	return r.ApiService.IsTokenBeingProcessedExecute(r)
}

/*
IsTokenBeingProcessed Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed.

<p>

	This endpoint is intended to be used in conjunction with uploading a supported BOM document.
	Upon upload, a token will be returned. The token can then be queried using this endpoint to
	determine if any tasks (such as vulnerability analysis) is being performed on the BOM:
	<ul>
	  <li>A value of <code>true</code> indicates processing is occurring.</li>
	  <li>A value of <code>false</code> indicates that no processing is occurring for the specified token.</li>
	</ul>
	However, a value of <code>false</code> also does not confirm the token is valid,
	only that no processing is associated with the specified token.

</p>
<p>Requires permission <strong>BOM_UPLOAD</strong></p>
<p><strong>Deprecated</strong>. Use <code>/v1/event/token/{uuid}</code> instead.</p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the token to query
	@return ApiIsTokenBeingProcessedRequest

Deprecated
*/
func (a *BomAPIService) IsTokenBeingProcessed(ctx context.Context, uuid string) ApiIsTokenBeingProcessedRequest {
	return ApiIsTokenBeingProcessedRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return IsTokenBeingProcessedResponse
//
// Deprecated
func (a *BomAPIService) IsTokenBeingProcessedExecute(r ApiIsTokenBeingProcessedRequest) (*IsTokenBeingProcessedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IsTokenBeingProcessedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.IsTokenBeingProcessed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom/token/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUploadBomRequest struct {
	ctx            context.Context
	ApiService     *BomAPIService
	autoCreate     *bool
	bom            *string
	isLatest       *bool
	parentName     *string
	parentUUID     *string
	parentVersion  *string
	project        *string
	projectName    *string
	projectTags    *string
	projectVersion *string
}

func (r ApiUploadBomRequest) AutoCreate(autoCreate bool) ApiUploadBomRequest {
	r.autoCreate = &autoCreate
	return r
}

func (r ApiUploadBomRequest) Bom(bom string) ApiUploadBomRequest {
	r.bom = &bom
	return r
}

func (r ApiUploadBomRequest) IsLatest(isLatest bool) ApiUploadBomRequest {
	r.isLatest = &isLatest
	return r
}

func (r ApiUploadBomRequest) ParentName(parentName string) ApiUploadBomRequest {
	r.parentName = &parentName
	return r
}

func (r ApiUploadBomRequest) ParentUUID(parentUUID string) ApiUploadBomRequest {
	r.parentUUID = &parentUUID
	return r
}

func (r ApiUploadBomRequest) ParentVersion(parentVersion string) ApiUploadBomRequest {
	r.parentVersion = &parentVersion
	return r
}

func (r ApiUploadBomRequest) Project(project string) ApiUploadBomRequest {
	r.project = &project
	return r
}

func (r ApiUploadBomRequest) ProjectName(projectName string) ApiUploadBomRequest {
	r.projectName = &projectName
	return r
}

func (r ApiUploadBomRequest) ProjectTags(projectTags string) ApiUploadBomRequest {
	r.projectTags = &projectTags
	return r
}

func (r ApiUploadBomRequest) ProjectVersion(projectVersion string) ApiUploadBomRequest {
	r.projectVersion = &projectVersion
	return r
}

func (r ApiUploadBomRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.UploadBomExecute(r)
}

/*
UploadBom Upload a supported bill of material format document

<p>

	Expects CycloneDX and a valid project UUID. If a UUID is not specified,
	then the <code>projectName</code> and <code>projectVersion</code> must be specified.
	Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,
	the project will be created. In this scenario, the principal making the request will
	additionally need the <strong>PORTFOLIO_MANAGEMENT</strong>, <strong>PORTFOLIO_MANAGEMENT_CREATE</strong>,
	or <strong>PROJECT_CREATION_UPLOAD</strong> permission.

</p>
<p>

	MediaType supported for BOM artifact is 'application/xml' or 'application/json'.
	The BOM will be validated against the CycloneDX schema. If schema validation fails,
	a response with problem details in RFC 9457 format will be returned. In this case,
	the response's content type will be <code>application/problem+json</code>.

</p>
<p>Requires permission <strong>BOM_UPLOAD</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUploadBomRequest
*/
func (a *BomAPIService) UploadBom(ctx context.Context) ApiUploadBomRequest {
	return ApiUploadBomRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *BomAPIService) UploadBomExecute(r ApiUploadBomRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.UploadBom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.autoCreate != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "autoCreate", r.autoCreate, "", "")
	}
	if r.bom != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "bom", r.bom, "", "")
	}
	if r.isLatest != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "isLatest", r.isLatest, "", "")
	}
	if r.parentName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentName", r.parentName, "", "")
	}
	if r.parentUUID != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentUUID", r.parentUUID, "", "")
	}
	if r.parentVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "parentVersion", r.parentVersion, "", "")
	}
	if r.project != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "project", r.project, "", "")
	}
	if r.projectName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectName", r.projectName, "", "")
	}
	if r.projectTags != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectTags", r.projectTags, "", "")
	}
	if r.projectVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "projectVersion", r.projectVersion, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUploadBomBase64EncodedRequest struct {
	ctx              context.Context
	ApiService       *BomAPIService
	bomSubmitRequest *BomSubmitRequest
}

func (r ApiUploadBomBase64EncodedRequest) BomSubmitRequest(bomSubmitRequest BomSubmitRequest) ApiUploadBomBase64EncodedRequest {
	r.bomSubmitRequest = &bomSubmitRequest
	return r
}

func (r ApiUploadBomBase64EncodedRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.UploadBomBase64EncodedExecute(r)
}

/*
UploadBomBase64Encoded Upload a supported bill of material format document

<p>

	Expects CycloneDX and a valid project UUID. If a UUID is not specified,
	then the <code>projectName</code> and <code>projectVersion</code> must be specified.
	Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,
	the project will be created. In this scenario, the principal making the request will
	additionally need the <strong>PORTFOLIO_MANAGEMENT</strong>, <strong>PORTFOLIO_MANAGEMENT_CREATE</strong>,
	or <strong>PROJECT_CREATION_UPLOAD</strong> permission.

</p>
<p>

	The BOM will be validated against the CycloneDX schema. If schema validation fails,
	a response with problem details in RFC 9457 format will be returned. In this case,
	the response's content type will be <code>application/problem+json</code>.

</p>
<p>

	The maximum allowed length of the <code>bom</code> value is 20'000'000 characters.
	When uploading large BOMs, the <code>POST</code> endpoint is preferred,
	as it does not have this limit.

</p>
<p>Requires permission <strong>BOM_UPLOAD</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUploadBomBase64EncodedRequest
*/
func (a *BomAPIService) UploadBomBase64Encoded(ctx context.Context) ApiUploadBomBase64EncodedRequest {
	return ApiUploadBomBase64EncodedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *BomAPIService) UploadBomBase64EncodedExecute(r ApiUploadBomBase64EncodedRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BomAPIService.UploadBomBase64Encoded")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bomSubmitRequest == nil {
		return localVarReturnValue, nil, reportError("bomSubmitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bomSubmitRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
