/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track

API version: 5.7.0-alpha.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FindingAPIService FindingAPI service
type FindingAPIService service

type FindingAPIAnalyzePortfolioRequest struct {
	ctx        context.Context
	ApiService *FindingAPIService
}

func (r FindingAPIAnalyzePortfolioRequest) Execute() (*http.Response, error) {
	return r.ApiService.AnalyzePortfolioExecute(r)
}

/*
AnalyzePortfolio Triggers Vulnerability Analysis for the entire portfolio

<p>Requires permission <strong>SYSTEM_CONFIGURATION</strong> or <strong>SYSTEM_CONFIGURATION_CREATE</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FindingAPIAnalyzePortfolioRequest
*/
func (a *FindingAPIService) AnalyzePortfolio(ctx context.Context) FindingAPIAnalyzePortfolioRequest {
	return FindingAPIAnalyzePortfolioRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *FindingAPIService) AnalyzePortfolioExecute(r FindingAPIAnalyzePortfolioRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.AnalyzePortfolio")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/portfolio/analyze"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type FindingAPIAnalyzeProjectRequest struct {
	ctx        context.Context
	ApiService *FindingAPIService
	uuid       string
}

func (r FindingAPIAnalyzeProjectRequest) Execute() (*BomUploadResponse, *http.Response, error) {
	return r.ApiService.AnalyzeProjectExecute(r)
}

/*
AnalyzeProject Triggers Vulnerability Analysis on a specific project

<p>Requires permission <strong>VULNERABILITY_ANALYSIS</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project to analyze
	@return FindingAPIAnalyzeProjectRequest
*/
func (a *FindingAPIService) AnalyzeProject(ctx context.Context, uuid string) FindingAPIAnalyzeProjectRequest {
	return FindingAPIAnalyzeProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return BomUploadResponse
func (a *FindingAPIService) AnalyzeProjectExecute(r FindingAPIAnalyzeProjectRequest) (*BomUploadResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BomUploadResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.AnalyzeProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}/analyze"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FindingAPIExportFindingsByProjectRequest struct {
	ctx        context.Context
	ApiService *FindingAPIService
	uuid       string
}

func (r FindingAPIExportFindingsByProjectRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ExportFindingsByProjectExecute(r)
}

/*
ExportFindingsByProject Returns the findings for the specified project as FPF

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project
	@return FindingAPIExportFindingsByProjectRequest
*/
func (a *FindingAPIService) ExportFindingsByProject(ctx context.Context, uuid string) FindingAPIExportFindingsByProjectRequest {
	return FindingAPIExportFindingsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return string
func (a *FindingAPIService) ExportFindingsByProjectExecute(r FindingAPIExportFindingsByProjectRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.ExportFindingsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}/export"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FindingAPIGetAllFindingsRequest struct {
	ctx                context.Context
	ApiService         *FindingAPIService
	pageNumber         *string
	pageSize           *string
	offset             *string
	limit              *string
	sortName           *string
	sortOrder          *string
	showInactive       *bool
	severity           *string
	publishDateFrom    *string
	publishDateTo      *string
	textSearchField    *string
	textSearchInput    *string
	cvssv2From         *string
	cvssv2To           *string
	cvssv3From         *string
	cvssv3To           *string
	epssFrom           *string
	epssTo             *string
	epssPercentileFrom *string
	epssPercentileTo   *string
	occurrencesFrom    *string
	occurrencesTo      *string
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r FindingAPIGetAllFindingsRequest) PageNumber(pageNumber string) FindingAPIGetAllFindingsRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r FindingAPIGetAllFindingsRequest) PageSize(pageSize string) FindingAPIGetAllFindingsRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r FindingAPIGetAllFindingsRequest) Offset(offset string) FindingAPIGetAllFindingsRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r FindingAPIGetAllFindingsRequest) Limit(limit string) FindingAPIGetAllFindingsRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r FindingAPIGetAllFindingsRequest) SortName(sortName string) FindingAPIGetAllFindingsRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r FindingAPIGetAllFindingsRequest) SortOrder(sortOrder string) FindingAPIGetAllFindingsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Show inactive projects
func (r FindingAPIGetAllFindingsRequest) ShowInactive(showInactive bool) FindingAPIGetAllFindingsRequest {
	r.showInactive = &showInactive
	return r
}

// Filter by severity
func (r FindingAPIGetAllFindingsRequest) Severity(severity string) FindingAPIGetAllFindingsRequest {
	r.severity = &severity
	return r
}

// Filter published from this date
func (r FindingAPIGetAllFindingsRequest) PublishDateFrom(publishDateFrom string) FindingAPIGetAllFindingsRequest {
	r.publishDateFrom = &publishDateFrom
	return r
}

// Filter published to this date
func (r FindingAPIGetAllFindingsRequest) PublishDateTo(publishDateTo string) FindingAPIGetAllFindingsRequest {
	r.publishDateTo = &publishDateTo
	return r
}

// Filter the text input in these fields
func (r FindingAPIGetAllFindingsRequest) TextSearchField(textSearchField string) FindingAPIGetAllFindingsRequest {
	r.textSearchField = &textSearchField
	return r
}

// Filter by this text input
func (r FindingAPIGetAllFindingsRequest) TextSearchInput(textSearchInput string) FindingAPIGetAllFindingsRequest {
	r.textSearchInput = &textSearchInput
	return r
}

// Filter CVSSv2 from this value
func (r FindingAPIGetAllFindingsRequest) Cvssv2From(cvssv2From string) FindingAPIGetAllFindingsRequest {
	r.cvssv2From = &cvssv2From
	return r
}

// Filter CVSSv2 to this value
func (r FindingAPIGetAllFindingsRequest) Cvssv2To(cvssv2To string) FindingAPIGetAllFindingsRequest {
	r.cvssv2To = &cvssv2To
	return r
}

// Filter CVSSv3 from this value
func (r FindingAPIGetAllFindingsRequest) Cvssv3From(cvssv3From string) FindingAPIGetAllFindingsRequest {
	r.cvssv3From = &cvssv3From
	return r
}

// Filter CVSSv3 to this value
func (r FindingAPIGetAllFindingsRequest) Cvssv3To(cvssv3To string) FindingAPIGetAllFindingsRequest {
	r.cvssv3To = &cvssv3To
	return r
}

// Filter EPSS from this value
func (r FindingAPIGetAllFindingsRequest) EpssFrom(epssFrom string) FindingAPIGetAllFindingsRequest {
	r.epssFrom = &epssFrom
	return r
}

// Filter EPSS to this value
func (r FindingAPIGetAllFindingsRequest) EpssTo(epssTo string) FindingAPIGetAllFindingsRequest {
	r.epssTo = &epssTo
	return r
}

// Filter EPSS Percentile from this value
func (r FindingAPIGetAllFindingsRequest) EpssPercentileFrom(epssPercentileFrom string) FindingAPIGetAllFindingsRequest {
	r.epssPercentileFrom = &epssPercentileFrom
	return r
}

// Filter EPSS Percentile to this value
func (r FindingAPIGetAllFindingsRequest) EpssPercentileTo(epssPercentileTo string) FindingAPIGetAllFindingsRequest {
	r.epssPercentileTo = &epssPercentileTo
	return r
}

// Filter occurrences in projects from this value
func (r FindingAPIGetAllFindingsRequest) OccurrencesFrom(occurrencesFrom string) FindingAPIGetAllFindingsRequest {
	r.occurrencesFrom = &occurrencesFrom
	return r
}

// Filter occurrences in projects to this value
func (r FindingAPIGetAllFindingsRequest) OccurrencesTo(occurrencesTo string) FindingAPIGetAllFindingsRequest {
	r.occurrencesTo = &occurrencesTo
	return r
}

func (r FindingAPIGetAllFindingsRequest) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetAllFindingsExecute(r)
}

/*
GetAllFindings Returns a list of all findings grouped by vulnerability

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FindingAPIGetAllFindingsRequest
*/
func (a *FindingAPIService) GetAllFindings(ctx context.Context) FindingAPIGetAllFindingsRequest {
	return FindingAPIGetAllFindingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetAllFindingsExecute(r FindingAPIGetAllFindingsRequest) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetAllFindings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/grouped"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.showInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showInactive", r.showInactive, "form", "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "")
	}
	if r.publishDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateFrom", r.publishDateFrom, "form", "")
	}
	if r.publishDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateTo", r.publishDateTo, "form", "")
	}
	if r.textSearchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchField", r.textSearchField, "form", "")
	}
	if r.textSearchInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchInput", r.textSearchInput, "form", "")
	}
	if r.cvssv2From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2From", r.cvssv2From, "form", "")
	}
	if r.cvssv2To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2To", r.cvssv2To, "form", "")
	}
	if r.cvssv3From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3From", r.cvssv3From, "form", "")
	}
	if r.cvssv3To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3To", r.cvssv3To, "form", "")
	}
	if r.epssFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssFrom", r.epssFrom, "form", "")
	}
	if r.epssTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssTo", r.epssTo, "form", "")
	}
	if r.epssPercentileFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileFrom", r.epssPercentileFrom, "form", "")
	}
	if r.epssPercentileTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileTo", r.epssPercentileTo, "form", "")
	}
	if r.occurrencesFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurrencesFrom", r.occurrencesFrom, "form", "")
	}
	if r.occurrencesTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurrencesTo", r.occurrencesTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FindingAPIGetAllFindings1Request struct {
	ctx                  context.Context
	ApiService           *FindingAPIService
	pageNumber           *string
	pageSize             *string
	offset               *string
	limit                *string
	sortName             *string
	sortOrder            *string
	showInactive         *bool
	showSuppressed       *bool
	severity             *string
	analysisStatus       *string
	vendorResponse       *string
	publishDateFrom      *string
	publishDateTo        *string
	attributedOnDateFrom *string
	attributedOnDateTo   *string
	textSearchField      *string
	textSearchInput      *string
	cvssv2From           *string
	cvssv2To             *string
	cvssv3From           *string
	cvssv3To             *string
	epssFrom             *string
	epssTo               *string
	epssPercentileFrom   *string
	epssPercentileTo     *string
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r FindingAPIGetAllFindings1Request) PageNumber(pageNumber string) FindingAPIGetAllFindings1Request {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r FindingAPIGetAllFindings1Request) PageSize(pageSize string) FindingAPIGetAllFindings1Request {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r FindingAPIGetAllFindings1Request) Offset(offset string) FindingAPIGetAllFindings1Request {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r FindingAPIGetAllFindings1Request) Limit(limit string) FindingAPIGetAllFindings1Request {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r FindingAPIGetAllFindings1Request) SortName(sortName string) FindingAPIGetAllFindings1Request {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r FindingAPIGetAllFindings1Request) SortOrder(sortOrder string) FindingAPIGetAllFindings1Request {
	r.sortOrder = &sortOrder
	return r
}

// Show inactive projects
func (r FindingAPIGetAllFindings1Request) ShowInactive(showInactive bool) FindingAPIGetAllFindings1Request {
	r.showInactive = &showInactive
	return r
}

// Show suppressed findings
func (r FindingAPIGetAllFindings1Request) ShowSuppressed(showSuppressed bool) FindingAPIGetAllFindings1Request {
	r.showSuppressed = &showSuppressed
	return r
}

// Filter by severity
func (r FindingAPIGetAllFindings1Request) Severity(severity string) FindingAPIGetAllFindings1Request {
	r.severity = &severity
	return r
}

// Filter by analysis status
func (r FindingAPIGetAllFindings1Request) AnalysisStatus(analysisStatus string) FindingAPIGetAllFindings1Request {
	r.analysisStatus = &analysisStatus
	return r
}

// Filter by vendor response
func (r FindingAPIGetAllFindings1Request) VendorResponse(vendorResponse string) FindingAPIGetAllFindings1Request {
	r.vendorResponse = &vendorResponse
	return r
}

// Filter published from this date
func (r FindingAPIGetAllFindings1Request) PublishDateFrom(publishDateFrom string) FindingAPIGetAllFindings1Request {
	r.publishDateFrom = &publishDateFrom
	return r
}

// Filter published to this date
func (r FindingAPIGetAllFindings1Request) PublishDateTo(publishDateTo string) FindingAPIGetAllFindings1Request {
	r.publishDateTo = &publishDateTo
	return r
}

// Filter attributed on from this date
func (r FindingAPIGetAllFindings1Request) AttributedOnDateFrom(attributedOnDateFrom string) FindingAPIGetAllFindings1Request {
	r.attributedOnDateFrom = &attributedOnDateFrom
	return r
}

// Filter attributed on to this date
func (r FindingAPIGetAllFindings1Request) AttributedOnDateTo(attributedOnDateTo string) FindingAPIGetAllFindings1Request {
	r.attributedOnDateTo = &attributedOnDateTo
	return r
}

// Filter the text input in these fields
func (r FindingAPIGetAllFindings1Request) TextSearchField(textSearchField string) FindingAPIGetAllFindings1Request {
	r.textSearchField = &textSearchField
	return r
}

// Filter by this text input
func (r FindingAPIGetAllFindings1Request) TextSearchInput(textSearchInput string) FindingAPIGetAllFindings1Request {
	r.textSearchInput = &textSearchInput
	return r
}

// Filter CVSSv2 from this value
func (r FindingAPIGetAllFindings1Request) Cvssv2From(cvssv2From string) FindingAPIGetAllFindings1Request {
	r.cvssv2From = &cvssv2From
	return r
}

// Filter CVSSv2 from this Value
func (r FindingAPIGetAllFindings1Request) Cvssv2To(cvssv2To string) FindingAPIGetAllFindings1Request {
	r.cvssv2To = &cvssv2To
	return r
}

// Filter CVSSv3 from this value
func (r FindingAPIGetAllFindings1Request) Cvssv3From(cvssv3From string) FindingAPIGetAllFindings1Request {
	r.cvssv3From = &cvssv3From
	return r
}

// Filter CVSSv3 from this Value
func (r FindingAPIGetAllFindings1Request) Cvssv3To(cvssv3To string) FindingAPIGetAllFindings1Request {
	r.cvssv3To = &cvssv3To
	return r
}

// Filter EPSS from this value
func (r FindingAPIGetAllFindings1Request) EpssFrom(epssFrom string) FindingAPIGetAllFindings1Request {
	r.epssFrom = &epssFrom
	return r
}

// Filter EPSS to this value
func (r FindingAPIGetAllFindings1Request) EpssTo(epssTo string) FindingAPIGetAllFindings1Request {
	r.epssTo = &epssTo
	return r
}

// Filter EPSS Percentile from this value
func (r FindingAPIGetAllFindings1Request) EpssPercentileFrom(epssPercentileFrom string) FindingAPIGetAllFindings1Request {
	r.epssPercentileFrom = &epssPercentileFrom
	return r
}

// Filter EPSS Percentile to this value
func (r FindingAPIGetAllFindings1Request) EpssPercentileTo(epssPercentileTo string) FindingAPIGetAllFindings1Request {
	r.epssPercentileTo = &epssPercentileTo
	return r
}

func (r FindingAPIGetAllFindings1Request) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetAllFindings1Execute(r)
}

/*
GetAllFindings1 Returns a list of all findings

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FindingAPIGetAllFindings1Request
*/
func (a *FindingAPIService) GetAllFindings1(ctx context.Context) FindingAPIGetAllFindings1Request {
	return FindingAPIGetAllFindings1Request{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetAllFindings1Execute(r FindingAPIGetAllFindings1Request) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetAllFindings1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.showInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showInactive", r.showInactive, "form", "")
	}
	if r.showSuppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showSuppressed", r.showSuppressed, "form", "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "")
	}
	if r.analysisStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysisStatus", r.analysisStatus, "form", "")
	}
	if r.vendorResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vendorResponse", r.vendorResponse, "form", "")
	}
	if r.publishDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateFrom", r.publishDateFrom, "form", "")
	}
	if r.publishDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishDateTo", r.publishDateTo, "form", "")
	}
	if r.attributedOnDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributedOnDateFrom", r.attributedOnDateFrom, "form", "")
	}
	if r.attributedOnDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributedOnDateTo", r.attributedOnDateTo, "form", "")
	}
	if r.textSearchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchField", r.textSearchField, "form", "")
	}
	if r.textSearchInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchInput", r.textSearchInput, "form", "")
	}
	if r.cvssv2From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2From", r.cvssv2From, "form", "")
	}
	if r.cvssv2To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv2To", r.cvssv2To, "form", "")
	}
	if r.cvssv3From != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3From", r.cvssv3From, "form", "")
	}
	if r.cvssv3To != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cvssv3To", r.cvssv3To, "form", "")
	}
	if r.epssFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssFrom", r.epssFrom, "form", "")
	}
	if r.epssTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssTo", r.epssTo, "form", "")
	}
	if r.epssPercentileFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileFrom", r.epssPercentileFrom, "form", "")
	}
	if r.epssPercentileTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "epssPercentileTo", r.epssPercentileTo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FindingAPIGetFindingsByProjectRequest struct {
	ctx         context.Context
	ApiService  *FindingAPIService
	uuid        string
	pageNumber  *string
	pageSize    *string
	offset      *string
	limit       *string
	sortName    *string
	sortOrder   *string
	suppressed  *bool
	source      *string
	accept      *string
	hasAnalysis *bool
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r FindingAPIGetFindingsByProjectRequest) PageNumber(pageNumber string) FindingAPIGetFindingsByProjectRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r FindingAPIGetFindingsByProjectRequest) PageSize(pageSize string) FindingAPIGetFindingsByProjectRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r FindingAPIGetFindingsByProjectRequest) Offset(offset string) FindingAPIGetFindingsByProjectRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r FindingAPIGetFindingsByProjectRequest) Limit(limit string) FindingAPIGetFindingsByProjectRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r FindingAPIGetFindingsByProjectRequest) SortName(sortName string) FindingAPIGetFindingsByProjectRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r FindingAPIGetFindingsByProjectRequest) SortOrder(sortOrder string) FindingAPIGetFindingsByProjectRequest {
	r.sortOrder = &sortOrder
	return r
}

// Optionally includes suppressed findings
func (r FindingAPIGetFindingsByProjectRequest) Suppressed(suppressed bool) FindingAPIGetFindingsByProjectRequest {
	r.suppressed = &suppressed
	return r
}

// Optionally limit findings to specific sources of vulnerability intelligence
func (r FindingAPIGetFindingsByProjectRequest) Source(source string) FindingAPIGetFindingsByProjectRequest {
	r.source = &source
	return r
}

func (r FindingAPIGetFindingsByProjectRequest) Accept(accept string) FindingAPIGetFindingsByProjectRequest {
	r.accept = &accept
	return r
}

// Whether to include only projects with existing analysis.
func (r FindingAPIGetFindingsByProjectRequest) HasAnalysis(hasAnalysis bool) FindingAPIGetFindingsByProjectRequest {
	r.hasAnalysis = &hasAnalysis
	return r
}

func (r FindingAPIGetFindingsByProjectRequest) Execute() ([]Finding, *http.Response, error) {
	return r.ApiService.GetFindingsByProjectExecute(r)
}

/*
GetFindingsByProject Returns a list of all findings for a specific project or generates SARIF file if Accept: application/sarif+json header is provided

<p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project
	@return FindingAPIGetFindingsByProjectRequest
*/
func (a *FindingAPIService) GetFindingsByProject(ctx context.Context, uuid string) FindingAPIGetFindingsByProjectRequest {
	return FindingAPIGetFindingsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return []Finding
func (a *FindingAPIService) GetFindingsByProjectExecute(r FindingAPIGetFindingsByProjectRequest) ([]Finding, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []Finding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FindingAPIService.GetFindingsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/finding/project/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.hasAnalysis != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasAnalysis", r.hasAnalysis, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/sarif+json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "accept", r.accept, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
