/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track

API version: 5.7.0-alpha.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ViolationAPIService ViolationAPI service
type ViolationAPIService service

type ViolationAPIGetViolationsRequest struct {
	ctx                context.Context
	ApiService         *ViolationAPIService
	pageNumber         *string
	pageSize           *string
	offset             *string
	limit              *string
	sortName           *string
	sortOrder          *string
	suppressed         *bool
	showInactive       *bool
	violationState     *string
	riskType           *string
	policy             *string
	analysisState      *string
	occurredOnDateFrom *string
	occurredOnDateTo   *string
	textSearchField    *string
	textSearchInput    *string
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ViolationAPIGetViolationsRequest) PageNumber(pageNumber string) ViolationAPIGetViolationsRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ViolationAPIGetViolationsRequest) PageSize(pageSize string) ViolationAPIGetViolationsRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ViolationAPIGetViolationsRequest) Offset(offset string) ViolationAPIGetViolationsRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ViolationAPIGetViolationsRequest) Limit(limit string) ViolationAPIGetViolationsRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ViolationAPIGetViolationsRequest) SortName(sortName string) ViolationAPIGetViolationsRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ViolationAPIGetViolationsRequest) SortOrder(sortOrder string) ViolationAPIGetViolationsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Optionally includes suppressed violations
func (r ViolationAPIGetViolationsRequest) Suppressed(suppressed bool) ViolationAPIGetViolationsRequest {
	r.suppressed = &suppressed
	return r
}

// Optionally includes inactive projects
func (r ViolationAPIGetViolationsRequest) ShowInactive(showInactive bool) ViolationAPIGetViolationsRequest {
	r.showInactive = &showInactive
	return r
}

// Filter by violation state
func (r ViolationAPIGetViolationsRequest) ViolationState(violationState string) ViolationAPIGetViolationsRequest {
	r.violationState = &violationState
	return r
}

// Filter by risk type
func (r ViolationAPIGetViolationsRequest) RiskType(riskType string) ViolationAPIGetViolationsRequest {
	r.riskType = &riskType
	return r
}

// Filter by policy
func (r ViolationAPIGetViolationsRequest) Policy(policy string) ViolationAPIGetViolationsRequest {
	r.policy = &policy
	return r
}

// Filter by analysis state
func (r ViolationAPIGetViolationsRequest) AnalysisState(analysisState string) ViolationAPIGetViolationsRequest {
	r.analysisState = &analysisState
	return r
}

// Filter occurred on from
func (r ViolationAPIGetViolationsRequest) OccurredOnDateFrom(occurredOnDateFrom string) ViolationAPIGetViolationsRequest {
	r.occurredOnDateFrom = &occurredOnDateFrom
	return r
}

// Filter occurred on to
func (r ViolationAPIGetViolationsRequest) OccurredOnDateTo(occurredOnDateTo string) ViolationAPIGetViolationsRequest {
	r.occurredOnDateTo = &occurredOnDateTo
	return r
}

// Filter the text input in these fields
func (r ViolationAPIGetViolationsRequest) TextSearchField(textSearchField string) ViolationAPIGetViolationsRequest {
	r.textSearchField = &textSearchField
	return r
}

// Filter by this text input
func (r ViolationAPIGetViolationsRequest) TextSearchInput(textSearchInput string) ViolationAPIGetViolationsRequest {
	r.textSearchInput = &textSearchInput
	return r
}

func (r ViolationAPIGetViolationsRequest) Execute() ([]PolicyViolation, *http.Response, error) {
	return r.ApiService.GetViolationsExecute(r)
}

/*
GetViolations Returns a list of all policy violations for the entire portfolio

<p>Requires permission <strong>VIEW_POLICY_VIOLATION</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ViolationAPIGetViolationsRequest
*/
func (a *ViolationAPIService) GetViolations(ctx context.Context) ViolationAPIGetViolationsRequest {
	return ViolationAPIGetViolationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []PolicyViolation
func (a *ViolationAPIService) GetViolationsExecute(r ViolationAPIGetViolationsRequest) ([]PolicyViolation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViolationAPIService.GetViolations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/violation"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	if r.showInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showInactive", r.showInactive, "form", "")
	}
	if r.violationState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "violationState", r.violationState, "form", "")
	}
	if r.riskType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "riskType", r.riskType, "form", "")
	}
	if r.policy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy", r.policy, "form", "")
	}
	if r.analysisState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "analysisState", r.analysisState, "form", "")
	}
	if r.occurredOnDateFrom != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurredOnDateFrom", r.occurredOnDateFrom, "form", "")
	}
	if r.occurredOnDateTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "occurredOnDateTo", r.occurredOnDateTo, "form", "")
	}
	if r.textSearchField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchField", r.textSearchField, "form", "")
	}
	if r.textSearchInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "textSearchInput", r.textSearchInput, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViolationAPIGetViolationsByComponentRequest struct {
	ctx        context.Context
	ApiService *ViolationAPIService
	uuid       string
	pageNumber *string
	pageSize   *string
	offset     *string
	limit      *string
	sortName   *string
	sortOrder  *string
	suppressed *bool
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ViolationAPIGetViolationsByComponentRequest) PageNumber(pageNumber string) ViolationAPIGetViolationsByComponentRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ViolationAPIGetViolationsByComponentRequest) PageSize(pageSize string) ViolationAPIGetViolationsByComponentRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ViolationAPIGetViolationsByComponentRequest) Offset(offset string) ViolationAPIGetViolationsByComponentRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ViolationAPIGetViolationsByComponentRequest) Limit(limit string) ViolationAPIGetViolationsByComponentRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ViolationAPIGetViolationsByComponentRequest) SortName(sortName string) ViolationAPIGetViolationsByComponentRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ViolationAPIGetViolationsByComponentRequest) SortOrder(sortOrder string) ViolationAPIGetViolationsByComponentRequest {
	r.sortOrder = &sortOrder
	return r
}

// Optionally includes suppressed violations
func (r ViolationAPIGetViolationsByComponentRequest) Suppressed(suppressed bool) ViolationAPIGetViolationsByComponentRequest {
	r.suppressed = &suppressed
	return r
}

func (r ViolationAPIGetViolationsByComponentRequest) Execute() ([]PolicyViolation, *http.Response, error) {
	return r.ApiService.GetViolationsByComponentExecute(r)
}

/*
GetViolationsByComponent Returns a list of all policy violations for a specific component

<p>Requires permission <strong>VIEW_POLICY_VIOLATION</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the component
	@return ViolationAPIGetViolationsByComponentRequest
*/
func (a *ViolationAPIService) GetViolationsByComponent(ctx context.Context, uuid string) ViolationAPIGetViolationsByComponentRequest {
	return ViolationAPIGetViolationsByComponentRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return []PolicyViolation
func (a *ViolationAPIService) GetViolationsByComponentExecute(r ViolationAPIGetViolationsByComponentRequest) ([]PolicyViolation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViolationAPIService.GetViolationsByComponent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/violation/component/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViolationAPIGetViolationsByProjectRequest struct {
	ctx        context.Context
	ApiService *ViolationAPIService
	uuid       string
	pageNumber *string
	pageSize   *string
	offset     *string
	limit      *string
	sortName   *string
	sortOrder  *string
	suppressed *bool
}

// The page to return. To be used in conjunction with &lt;code&gt;pageSize&lt;/code&gt;.
func (r ViolationAPIGetViolationsByProjectRequest) PageNumber(pageNumber string) ViolationAPIGetViolationsByProjectRequest {
	r.pageNumber = &pageNumber
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;pageNumber&lt;/code&gt;.
func (r ViolationAPIGetViolationsByProjectRequest) PageSize(pageSize string) ViolationAPIGetViolationsByProjectRequest {
	r.pageSize = &pageSize
	return r
}

// Offset to start returning elements from. To be used in conjunction with &lt;code&gt;limit&lt;/code&gt;.
func (r ViolationAPIGetViolationsByProjectRequest) Offset(offset string) ViolationAPIGetViolationsByProjectRequest {
	r.offset = &offset
	return r
}

// Number of elements to return per page. To be used in conjunction with &lt;code&gt;offset&lt;/code&gt;.
func (r ViolationAPIGetViolationsByProjectRequest) Limit(limit string) ViolationAPIGetViolationsByProjectRequest {
	r.limit = &limit
	return r
}

// Name of the resource field to sort on.
func (r ViolationAPIGetViolationsByProjectRequest) SortName(sortName string) ViolationAPIGetViolationsByProjectRequest {
	r.sortName = &sortName
	return r
}

// Ordering of items when sorting with &lt;code&gt;sortName&lt;/code&gt;.
func (r ViolationAPIGetViolationsByProjectRequest) SortOrder(sortOrder string) ViolationAPIGetViolationsByProjectRequest {
	r.sortOrder = &sortOrder
	return r
}

// Optionally includes suppressed violations
func (r ViolationAPIGetViolationsByProjectRequest) Suppressed(suppressed bool) ViolationAPIGetViolationsByProjectRequest {
	r.suppressed = &suppressed
	return r
}

func (r ViolationAPIGetViolationsByProjectRequest) Execute() ([]PolicyViolation, *http.Response, error) {
	return r.ApiService.GetViolationsByProjectExecute(r)
}

/*
GetViolationsByProject Returns a list of all policy violations for a specific project

<p>Requires permission <strong>VIEW_POLICY_VIOLATION</strong></p>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param uuid The UUID of the project
	@return ViolationAPIGetViolationsByProjectRequest
*/
func (a *ViolationAPIService) GetViolationsByProject(ctx context.Context, uuid string) ViolationAPIGetViolationsByProjectRequest {
	return ViolationAPIGetViolationsByProjectRequest{
		ApiService: a,
		ctx:        ctx,
		uuid:       uuid,
	}
}

// Execute executes the request
//
//	@return []PolicyViolation
func (a *ViolationAPIService) GetViolationsByProjectExecute(r ViolationAPIGetViolationsByProjectRequest) ([]PolicyViolation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViolationAPIService.GetViolationsByProject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/violation/project/{uuid}"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", url.PathEscape(parameterValueToString(r.uuid, "uuid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pageNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", r.pageNumber, "form", "")
	} else {
		var defaultValue string = "1"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageNumber", defaultValue, "form", "")
		r.pageNumber = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue string = "100"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortName", r.sortName, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.suppressed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "suppressed", r.suppressed, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ProblemDetails
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
