/*
OWASP Dependency-Track

REST API of OWASP Dependency-Track  > **Note:** This API version is in maintenance mode and will be > superseded by v2, available under `/api/v2`, which follows a > spec-first approach. New operations will be added there. > > This specification is generated and may not always accurately > reflect the actual response content of every operation. When > in doubt, treat observed runtime behavior as authoritative.  ## Authentication  Two credential types are accepted:  - **API key** via the `X-Api-Key` request header. API keys are   long-lived and intended for machine-to-machine integrations. - **Bearer token** via the `Authorization: Bearer <token>` request   header. Bearer tokens are short-lived, user-bound, and opaque   server-issued session tokens.  Bearer tokens are obtained from one of the following endpoints:  - `POST /api/v1/user/login` - `POST /api/v1/user/oidc/login`  Tokens are valid for 8 hours by default and **cannot be refreshed**. Clients must re-authenticate once a token expires.  Requests with missing or invalid credentials are rejected with `401 Unauthorized`.  ## Authorization  Access is gated by named permissions. Operations document the permission(s) they require; operations without a documented permission requirement only require authentication.  When the *Portfolio Access Control* feature is enabled (disabled by default), project-scoped operations additionally enforce per-project access via team membership. The `PORTFOLIO_ACCESS_CONTROL_BYPASS` permission grants access to all projects regardless of team mappings. When the feature is disabled, all authenticated callers holding the required permission can access all projects.  Authenticated requests that lack the required permission, or that target a project the caller cannot access, are rejected with `403 Forbidden`.  ## Pagination  Collection endpoints support page-based pagination via the following query parameters:  | Parameter    | Description                              | Default | |--------------|------------------------------------------|---------| | `pageNumber` | The page to retrieve (1-based).          | `1`     | | `pageSize`   | The maximum number of items per page.    | `100`   |  The total number of items in the collection across all pages is returned in the `X-Total-Count` response header.  ## HTTP Methods  | Method   | Semantics                                | |----------|------------------------------------------| | `GET`    | Retrieve a resource.                     | | `PUT`    | **Create** a new resource.               | | `POST`   | **Update** an existing resource.         | | `DELETE` | Delete a resource.                       |  Note that the use of `PUT` for create and `POST` for update is the inverse of the convention followed by most other REST APIs, including API v2.  ## Response Conventions  Create (`PUT`) and update (`POST`) operations typically return the full resource representation in the response body, with status `201 Created` and `200 OK` respectively.  Delete (`DELETE`) operations typically return `204 No Content`.  ## Deprecations  Operations may be removed or replaced over time. When a response carries the `X-API-Deprecated: true` header, the operation that produced it is deprecated and may be removed in a future release. Clients should check for this header on every response and surface it (e.g. via a log warning) so that operators are aware of upcoming breakages. The respective operation's description points out which alternative operation(s) to use.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dtapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CalculatorAPIService CalculatorAPI service
type CalculatorAPIService service

type ApiGetCvssScoresRequest struct {
	ctx        context.Context
	ApiService *CalculatorAPIService
	vector     *string
}

// A valid CVSSv2, CVSSv3 or CVSSv4 vector
func (r ApiGetCvssScoresRequest) Vector(vector string) ApiGetCvssScoresRequest {
	r.vector = &vector
	return r
}

func (r ApiGetCvssScoresRequest) Execute() (*CvssScoreResponse, *http.Response, error) {
	return r.ApiService.GetCvssScoresExecute(r)
}

/*
GetCvssScores Returns the CVSS base score, impact sub-score and exploitability sub-score

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCvssScoresRequest
*/
func (a *CalculatorAPIService) GetCvssScores(ctx context.Context) ApiGetCvssScoresRequest {
	return ApiGetCvssScoresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CvssScoreResponse
func (a *CalculatorAPIService) GetCvssScoresExecute(r ApiGetCvssScoresRequest) (*CvssScoreResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CvssScoreResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalculatorAPIService.GetCvssScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/calculator/cvss"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vector == nil {
		return localVarReturnValue, nil, reportError("vector is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "vector", r.vector, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOwaspRRScoresRequest struct {
	ctx        context.Context
	ApiService *CalculatorAPIService
	vector     *string
}

// A valid OWASP Risk Rating vector
func (r ApiGetOwaspRRScoresRequest) Vector(vector string) ApiGetOwaspRRScoresRequest {
	r.vector = &vector
	return r
}

func (r ApiGetOwaspRRScoresRequest) Execute() (*Score, *http.Response, error) {
	return r.ApiService.GetOwaspRRScoresExecute(r)
}

/*
GetOwaspRRScores Returns the OWASP Risk Rating likelihood score, technical impact score and business impact score

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOwaspRRScoresRequest
*/
func (a *CalculatorAPIService) GetOwaspRRScores(ctx context.Context) ApiGetOwaspRRScoresRequest {
	return ApiGetOwaspRRScoresRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Score
func (a *CalculatorAPIService) GetOwaspRRScoresExecute(r ApiGetOwaspRRScoresRequest) (*Score, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Score
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalculatorAPIService.GetOwaspRRScores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/calculator/owasp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vector == nil {
		return localVarReturnValue, nil, reportError("vector is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "vector", r.vector, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
